*{
    padding: 0;
    box-sizing: border-box;
    max-width: 1350px;
    margin: 0 auto;
   
  }
.nav-bar{
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    height: 75.88px;
    width: 1349px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0;

  
    
}
.nav-a{
  text-decoration: none;
  color: rgb(39, 37, 37);

}
.nav-link:hover{
  
  background-color: black;
  color: white;
}

.nav-menu {

    display: flex;
    flex: 0;
    justify-content: space-between;
    color: white;
    text-align:center;

}
.nav-menu1 {

    display: flex;
    justify-content: space-between;
    color: white;
    text-align:center;

}

.logo-bar{
    width: 134px;
    height: 76px;
    margin-right: 40px;
    margin-left: 20px;
    margin-top: 8px;
  
  }
.logo-bar .centre{
    margin-top: 20px;
}

.nav-item{
padding-right: 8px;
padding-left: 8px;

}
.nav-item1{
    padding: 8px;
}
li{
    list-style: none;
    
}

.nav-link{
    text-decoration: none;
    font-size: 12px;
    height: 30px;
    font-weight: bold;
    border: none;
    font-style: medium;
    color: rgb(0, 0, 0);
    padding: 4px 4px 4px 4px;
    border-radius: 15px;
    white-space: nowrap;
    cursor: pointer;



}




li.nav-item:nth-of-type(8){
   margin-right: 120px;
     
}

li.nav-menu1 {
    margin-left: 40px;
    padding: 8px;
      
 }
li.nav-item:nth-child(10){
    margin-right: 30px;
}

/* whole navigation bar kurma ends here*/ 

/*-- bigu picture display starts here  -->*/


/*-- bigu picture display ends here  -->*/

/*-- Itmes nav highlght starts here here  -->*/

/*modification Implementation*/












/*modification Implementation*/
/*---------------------------------------------------------------------------------------------------*/
/*innum vekkaley*/


