

/* Slideshow container */
.slideshow-container {
    max-width: 100%; 
    position: relative;
    margin: auto;
    display: block;
    line-height: 0;
  }
  
  /* Show the first image by default */
  .mySl1ides {
    display: none;
  }
  
  .mySl1ides:first-child {
    display: flex;
  }

 
  
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    background-color: rgba(0,0,0,0.6);
    border-radius: 80%;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .next{
  right: 0;
  }
  
  
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color:black;
  }
  
  .one_firstutext{
    position: absolute;
    font-size: 84px;
    top: 230px;
    right: 180px;
    color: #f2f2f2;
    user-select: none;
  }

  .two_firstutext{
    position: absolute;
    font-size: 34px;
    top: 300px;
    right: 240px;
    color: #fbff00;
  }

  .one_secondutext{
    position: absolute;
    font-size: 84px;
    top: 230px;
    right: 180px;
    color: #f2f2f2;
  }

  .two_secondutext{
    position: absolute;
    font-size: 34px;
    top: 300px;
    right: 240px;
    color: #fbff00;
  }

  .one_thirdutext{
    position: absolute;
    font-size: 74px;
    top: 230px;
    right: 160px;
    color: #f2f2f2;
  }

  .two_thirdutext{
    position: absolute;
    font-size: 34px;
    top: 300px;
    right: 240px;
    color: #fbff00;
  }
  /* Caption text */
  .text {
    color: #000000;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  


  
  /* The dots/bullets/indicators */
  .dot {
    display: none;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .mySl1ides img{
    min-height: 600px;
    position: relative;
  }
  
  